@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.quill-wrapper {
    max-width: 100%; /* * Ensure it does not overflow the container */
}

.quill-wrapper .ql-container {
    height: 200px; /* * Set a specific height for the text area */
}

.quill-wrapper .ql-editor {
    min-height: 200px; /* * Ensure the editor has a minimum height */
}

.custom-quill-container .ql-container {
    height: 250px;
}

.custom-quill-container .ql-editor {
    height: 250px;
}
